@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --ifm-color-primary-lightest: #3cad6e;
    --home-border-color: #ffe4c4;
    --ifm-global-shadow-lw: 0 2px 5px 0 #0000001a;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 240 3.7% 15.9%;
  }

  .home {
    background-color: var(--ifm-color-primary-lightest) !important;
    border: 1rem solid var(--home-border-color);
    border-radius: 162px 13px 155px 55px / 39px 38px 7px 116px;
    margin: 1rem 2rem;
  }

  .docu-shadow {
    box-shadow: var(--ifm-global-shadow-lw) !important;
  }

  .features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }

  .featureSvg {
    height: 120px;
    width: auto;
  }

  .tinySvg {
    height: 50px;
    width: auto;
  }

  .swiper {
    width: 600px;
    height: 300px;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}